PORT=3001
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
FAUCET_PRIVATE_KEY=your_wallet_private_key_hex_without_0x
FAUCET_AMOUNT_ETH=0.00025
MIN_BALANCE_BUFFER=0.001
ADDRESS_COOLDOWN_MINUTES=5
